#formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 100px;
}

#login{
  padding: 1rem;
}
#username{
 margin:0.5rem;
}

#password{
  margin:0.5rem; 
}

#submit{
  margin:0.5rem;
}


.form {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.form-group {
  display: flex;
  flex-direction: column;
}

